/* #
 Solid Blue #2835EB
 Dark Teal #3EA399
 Lime Green #1CD93F
 Light Green #B4F008
t BlueLight  #A0C5F0

Background Green: #377573
Link Purple: #AD6C7F
Title Pink: #E08BA4
Footer Green: #77A8A7
Quote Green #BFDBCA
 */
 html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

.container{
    width:70vw;
    margin: 40px auto;
    max-width: 960px;
}

img{
    max-width: 100%;
    height:auto;
}

.img-right{
    float:right;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin-left:20px;
}

.img-left{
    float:left;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin-right:20px;
}

.img-center{
    display:block;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin: 20 px auto;
}

#additional-elements h3{
    border-left: 10px solid #3EA399;
    padding:5px 10px;
}

table{
    width:100%;
    border:1px solid #c0c0c0;
    border-collapse:collapse;
}

table caption{
    color:#3EA399;
    padding:10px;
    font-weight:bold;
    font-size:1.4rem;
}

table tr:nth-child(even){
    background-color:rgba(0,0,0,.1);
}

table td{
    border:1px solid #c0c0c0;
    padding:5px;
}

table th{
    background-color:#2D7A70;
    color:#fff;
    width:33%;
    padding:10px;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    line-height: 1.4;
}

header.primary{
    background:#377573;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.5' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    text-align:center;
    color:#ffffff;
    text-shadow: 2px 2px #000000;
    /* Long Form */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Top/Bottom  Right/Left */
    padding: 20px 40px;
}

header.primary h1{
    font-size:2.9rem;
    margin:20px 0;
}

header.primary h1 a{
    color: #E08BA4;
    text-decoration:none;
}

header.primary h2{
    color: #E08BA4;
    font-size:1.8rem;
    /* Top | Left/Right | Bottom */
    margin: 20px auto 40px;
}

 header.primary nav{
     width:80vw;
     margin:20px auto;
     max-width:900px;
 }
 
 header.primary nav ul{
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 header.primary nav ul li{
     list-style-type: none;
 }
 
 header.primary nav ul li a{
     color:#ffffff;
     text-decoration:none;
     background-color:#000000;
     background-color:rgba(0,0,0,.4);
     padding:8px 16px;
     border-radius:20px;
     transition:.5s
 }
 
header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#intro{
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 1.2rem;
}

#intro h2{
    color: #E08BA4;
}

#intro p{
    line-height:1.4;
}

#content{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

#content article.post{
    width:30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    padding:.7em;
    font-size: .7rem;
    border-radius:10px;
    transition:.5s;
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
    margin:0;
}

article.post time, article.post figcaption, 
articl.post .post-meta{
    font-size:.8em;
    text-transform:uppercase;
    color:#77A8A7;
}

 article.post img{
     border-radius: 150px;
 }

 article.post a:link, article.post a:visited{
     color:#AD6C7F;
 }

article.post a:hover, article.post a:active{
     text-decoration:none;
 }
 
aside[role="complementary"]{
background-color: #2D7A70;
color:#ffffff;
padding:2.2rem;
}

aside .container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

aside article.widget{
    width:45%;
}

aside a:link {
    color:white;
    display:block;
    margin-top:10px;
}

aside article.widget footer{
    display:none;
}

#colophon{
    background-color:#3EA399;
}

#colophon h6{
    padding:20px;
    margin:0;
    text-align: center;
    color:#E08BA4;
    font-size:.7rem;
    text-transform: uppercase;
    text-shadow:1px 1px #000000;
}

#additional-elements h2{
    color: #E08BA4;
    border-bottom:1px solid #c0c0c0;
}

#additional-elements a:link, #additional-elements
a:visited{
    color: #AD6C7F;
}

#additional-elements a:hover, #additional-elements
a:active{
    text-decoration:none;
}

#additional-elements ol{
    list-style-type:lower-roman;
}

#additional-elments ul{
    list-style-type:square;
}

#additonal-elements ul ul{
    list-style-type:disc;
}

#additional-elements dl{
  
}

#additional-elements dt{
  font-weight:bold;
  font-size:1.2rem;
  margin-top:20px;
}

dd+dt{
    margin-top:20px;
}

#additional-elements dd{
  margin:0;
}

blockquote{
    background:rgba(0,0,0,.15);
    padding:20px 40px;
    border:5px double #c0c0c0;
    border-radius:16px;
    font-size:1.2em;
}

blockquote cite{
    display:block;
    text-align:right;
    font-weight:bold;
    font-size: .6rem;
    padding-top:1rem;
}

/* Medua Query Example */

@media screen and (max-width:585px){
    header.primary nav ul{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        margin:0 auto;
        width:60vw;
    }
    
    header.primary nav a{
        display: block;
    }
}