 /* #
 Solid Blue #2835EB
 Dark Teal #3EA399
 Lime Green #1CD93F
 Light Green #B4F008
t BlueLight  #A0C5F0
 */
 html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

.container{
    width:70vw;
    margin: 40px auto;
    max-width: 960px;
}

img{
    max-width: 100%;
    height:auto;
}

.img-right{
    float:right;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin-left:20px;
}

.img-left{
    float:left;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin-right:20px;
}

.img-center{
    display:block;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin: 20 px auto;
}

#additional-elements h3{
    border-left: 10px solid #3EA399;
    padding:5px 10px;
}



table{
    width:100%;
    border:1px solid #c0c0c0;
    border-collapse:collapse;
}
table caption{
    color:#3EA399;
    padding:10px;
    font-weight:bold;
    font-size:1.4rem;
}

table tr:nth-child(even){
    background-color:rgba(0,0,0,.1);
}

table td{
    border:1px solid #c0c0c0;
    padding:5px;
}

table th{
    background-color:#2D7A70;
    color:#fff;
    width:33%;
    padding:10px;
}



body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    line-height: 1.4;
}

header.primary{
    background:#3EA399;
    text-align:center;
    color:#ffffff;
    text-shadow: 2px 2px #000000;
    /* Long Form */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Top/Bottom  Right/Left */
    padding: 20px 40px;
}

header.primary h1{
    font-size:2.9rem;
    margin:20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size:1.8rem;
    /* Top | Left/Right | Bottom */
    margin: 20px auto 40px;
}

 header.primary nav{
     width:80vw;
     margin:20px auto;
     max-width:900px;
 }
 
 header.primary nav ul{
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 header.primary nav ul li{
     list-style-type: none;
 }
 header.primary nav ul li a{
     color:#ffffff;
     text-decoration:none;
     background-color:#000000;
     background-color:rgba(0,0,0,.4);
     padding:8px 16px;
     border-radius:20px;
     transition:.5s
 }
 
header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#intro{
    border: 1px solid #c0c0c0;
    padding-bottom: 1.2rem;
}

#intro h2{
    color: #A0C5F0;
}

#intro p{
    line-height:1.4;
}

#content{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

#content article.post{
    width:30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    padding:.7em;
    font-size: .7rem;
    border-radius:10px;
    transition:.5s;
}

#content article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
    margin:0;
}

article.post time, article.post figcaption, 
articl.post .post-meta{
    font-size:.8em;
    text-transform:uppercase;
    color:#A0C5F0;
}

 article.post img{
     border-radius: 150px;
 }
 
 article.post a:link, article.post a:visited{
     color:#1CD93F;
 }

article.post a:hover, article.post a:active{
     text-decoration:none;
 }

aside[role="complementary"]{
background-color: #2D7A70;
color:#ffffff;
padding:2.2rem;
}

aside .container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

aside article.widget{
    width:45%;
}

aside a:link {
    color:white;
    display:block;
    margin-top:10px;
}

aside article.widget footer{
    display:none;
}

#colophon{
    background-color:#3EA399;
}

#colophon h6{
    padding:20px;
    margin:0;
    text-align: center;
    color:#fff;
    font-size:.7rem;
    text-transform: uppercase;
    text-shadow:1px 1px #000000;
}

#additional-elements a:link, #additional-elements
a:visited{
    color:#1CD93F;
}

#additional-elements a:hover, #additional-elements
a:active{
    text-decoration:none;
}

#additional-elements ol{
    list-style-type:lower-roman;
}

#additional-elments ul{
    list-style-type:square;
}

#additonal-elements ul ul{
    list-style-type:disc;
}

#additional-elements dl{
  
}

#additional-elements dt{
  font-weight:bold;
  font-size:1.2rem;
  margin-top:20px;
}

dd+dt{
    margin-top:20px;
}

#additional-elements dd{
  margin:0;
}

blockquote{
    background:rgba(0,0,0,.15);
    padding:20px 40px;
    border:5px double #c0c0c0;
    border-radius:16px;
    font-size:1.2em;
}

blockquote cite{
    display:block;
    text-align:right;
    font-weight:bold;
    font-size: 6rem;
    padding-top:1rem;
}

/* Medua Query Example */

@media screen and (max-width:585px){
    header.primary nav ul{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        margin:0 auto;
        width:60vw;
    }
    
    header.primary nav a{
        display: block;
    }
}